/*.right {
  padding-top:90px;
  margin-right: 250px;
  max-width: 300px;
}

.left {
  padding-left: 120px;
  text-align: right;
}*/

body {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg {
  color: white;
  padding: 0;
  -moz-background-size: cover;
}

.img {
  width: 220px;
  height: 336px;
}

.right {
  padding-top: 60px;
}

.movie {
  margin: auto;
  width: 700px;
  padding-top: 50px;
}
.navegacion {
  margin-bottom: 0px;
}

/*.results {
  max-width: 700px;
}*/

.results h2 {
  font-size: 20px;
  color: #000;
}

.comments {
  min-width: 700px;
}

.comment-text {
  color: black;
}

.year {
  color:black;
}

.favorites {
  margin-top:50px;
  padding: 25px;
  max-width: 700px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}