
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 results">

<h1 class="white-text">These are your movie results</h1>
<% movieList.forEach(function(movie) { %>
<div class="well results">

  <h2><%- link_to(movie.Title, "/movies/" + movie.imdbID)  %></a></h2>
  <p class="year">Year: <%- movie.Year %></p>
</div>
<% }); %>
</div>

